body {
	font-family:"Roboto Medium";
	font-size:16px;
	line-height:24px;
	font-color:#283136;
}
h1 {
	font-size:36px;
	line-height:36px;
	font-color:#000000;
}
h2 {
	font-size:18px;
	line-height:30px;
	font-color:#000000;
}
h3 {
	font-size:16px;
	line-height:30px;
	font-color:#666666;
}
.slider {
	background:url("img/monitor.png") no-repeat;
}
.website {
	background:url("img/laptop.png") no-repeat;
}
.apps {
	background:url("img/phone.png") no-repeat;
}
.presentation {
	background:url("img/screen.png") no-repeat;
}
